<%= render 'layouts/navbar' %>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Añadir propiedad</h1>
        <div class="lead text-center">* Campos obligatorios</div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">


            <%= form_for @property, html: {class: 'form-horizontal'} do |f| %>
              <% if @property.errors.any? %>
                <div id="errors_explanation">
                  <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>
                  <ul>
                    <% @property.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                <%= f.label 'Property Title', class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.text_field :title, {class: "form-control input-lg", required: true, placeholder: "Titulo de la Propiedad"} %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">For Sale/Rent?</label>
                <div class="col-sm-8">
                  <label class="radio-inline">
                    <%= f.radio_button :rent_sale, false %> Rent
                  </label>
                  <label class="radio-inline">
                    <%= f.radio_button :rent_sale, true %> Sale
                </div>
              </div>

              <div class="form-group">
                <%= f.label 'Precio', class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.text_field :price, {class: "form-control input-lg", required: true, placeholder: "Precio de la Propiedad"} %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">Bedrooms</label>
                <div class="col-sm-8">
                  <%= f.select :bedrooms, options_for_select([["Seleccione Uno", ""], "0", "1", "2", "3", "4", "5", "6", "+7"]), {class: 'form-control', required: true} %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">Bathrooms</label>
                <div class="col-sm-8">
                  <%= f.select :bathrooms, options_for_select([["Seleccione Uno", ""], "0", "1", "2", "3", "4", "+5"]), {class: 'form-control', required: true} %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label 'Area Sq/ft', class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.text_field :area, {class: "form-control input-lg", required: true, placeholder: "Area de la Propiedad"} %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :city_id, 'Ciudad de la Propiedad:', class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.collection_select :city_id, City.order(:city), :id, :city, {include_blank: true}, {class: 'form-control', required: true} %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :feature_id, 'Feature de la Propiedad:', class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.collection_select :feature_id, Feature.order(:name), :id, :name, {include_blank: true}, {class: 'form-control', required: true} %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label 'Location', class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.text_field :location, {class: "form-control input-lg", required: true, placeholder: "Locación de la Propiedad"} %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label 'Direccion', class: "col-sm-4 control-label" %>
                <div class="col-sm-8">
                  <%= f.text_field :address, {class: "form-control input-lg", required: true, placeholder: "Direccion de la Propiedad"} %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" class="btn btn-lg btn-primary">Submit Property</button>
                </div>
              </div>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
<script type="text/javascript">
$(function () {
	$('[data-toggle="tooltip"]').tooltip({container: 'body'});
	//$('[data-toggle="tooltip"]').tooltip()
})
</script> 
<script type="text/javascript">
AOS.init({
	offset: 30
});
</script> 
<script>
var footer_height = $('#footer').outerHeight() + 30;
if (document.getElementById('sidebar')) {
	$(document).ready(function() {
	  $.stickysidebarscroll("#sidebar",{offset: {top: 20, bottom: footer_height}});
	});
};
</script>